<h1>Listing blogs</h1>

<%= link_to 'New blog', new_blog_path if admin_signed_in? %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.text %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) if admin_signed_in? %></td>
    </tr>
  <% end %>
</table>