<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TheGreyGirl" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'TheGreyGirl', blogs_path, :class => 'navbar-brand' %>
          </div>
          <div id="navbar" class="nav-collapse">
            <ul class="nav navbar-nav">
             <li><%= link_to "Archive", archive_blogs_path  %></li>
             <li><%= link_to "New Post", new_admin_blog_path if admin_signed_in? %></li>
             <li><%= link_to "Drafts", admin_blogs_path if admin_signed_in?  %></li>
            </ul>
            <p class="navbar-text pull-right">
              <% if admin_signed_in? %>
                Logged in as <strong><%= current_admin.email %></strong>.
                <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
                <% end %>
            </p>
          </div>
        </div>

    </div>
    <div class="container">
      <p>
        <%= flash[:success] unless flash[:success].blank? %>
        <%= flash[:error] unless flash[:error].blank? %>
      </p>

		   <%= yield %>
      <footer>
        <p>&copy; TheGreyGirl 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
